exportPattern("^[[:alpha:]]+")
import(plm,tcltk)
#importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "grid", "legend", "lines","par", "plot.new", "plot", "title")
importFrom("stats", "na.omit","ppoints", "time", "var")
importFrom("stats","AIC","anova","approx","BIC","coef","embed","lm","pnorm","update")
importFrom("stats", "as.formula", "coefficients", "confint","frequency", "model.matrix", "resid", "residuals", "runif",
"start", "vcov")
importFrom("utils", "head","write.csv")
export("tr","sse_calc","thr_sse","r_est","model","ptm")
export("pIGF","IGF","lagSelect","tbar")
export("ipsHEGY","HEGY.test","ret","SeasComponent","contts")
export("hegy.reg","selPabic","selPsignf","interpolpval","lookupCVtable")
export("iClick.plm1way","iClick.plm2way")